body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
h1{
    font-size: 30px;
}
.blue-color{
    color: rgb(16, 174, 214);
}
.flexible{
    display: flex;
    padding: 5%;
}
.half-width{
    width: 50%;
}
.half-width p{
    margin-bottom: 50px;
}
.mission{
    border-left: 2px solid red;
    padding-left: 5px;
}
.mission-details{
    text-align: justify;
    margin-bottom: 30px;
}
.picture{
    width: 80%;
    height: 80%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 10px 20px;
    font-weight: 700;
    color: white;
    border-radius: 7px;
}
.my-mission{
    display: flex;
    margin: 0 10%;
    margin-bottom: 50px;
    
}
.my-mission h1{
    text-align: center;
}
.mission-list{
    padding: 2%;

    border-radius: 7px;
    margin: 10px 20px;
}
.illustrators{
    width: 40%;
}
#illustrator-1{
    background-color: lightblue;
}
#illustrator-2{
    background-color: rgb(250, 223, 246);
}
#illustrator-3{
    background-color: rgb(242, 243, 173);
}
#develop{
    background-image: url(/images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
}
#community{
    background-image: url(/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right;

}
.quater{
    width: 20%;
    border-radius: 10px;
}

.skill-list{
    margin-left: 12%;
    text-align: center;
}
.skill img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.icon{
    margin: 0 5px;
    width: 30%;
}
.icon-name{
    color: black;
    text-align: center;
}
footer{
    background-color: rgb(1, 1, 19);
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
footer h1{
    font-size: 30px;
    font-style: italic;
}
