body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.blue-color{
    color: rgb(16, 174, 214);
}
.flexible{
    display: flex;
    padding: 5%;
}
.half-width{
    width: 50%;
}
.half-width p{
    margin-bottom: 50px;
}
.mission{
    border-left: 2px solid red;
    padding-left: 5px;
}
.mission-details{
    text-align: justify;
    margin-bottom: 30px;
}
.picture{
    width: 70%;
    height: 70%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 10px 20px;
    font-weight: 700;
    color: white;
    border-radius: 7px;
}
.my-mission{
    display: flex;
    margin: 0 10%;
    margin-bottom: 50px;
    
}
.my-mission h1{
    text-align: center;
}
.mission-list{
    padding: 2%;

    border-radius: 7px;
    margin: 10px 20px;
}
.illustrators{
    width: 40%;
}
#illustrator-1{
    background-color: lightblue;
}
#illustrator-2{
    background-color: rgb(250, 223, 246);
}
#illustrator-3{
    background-color: rgb(242, 243, 173);
}  
#develop{
    /* need to add a background*/
}
